body.phonebook {
    background-color: #042d37;
    color:#839496 ;
}

.mustard-bg {
    background-color: #916e00;
    color:#fff;
}

.sortable{
    cursor:pointer;
}

.asc span:after {content:"\2191";}
.desc span:after{content:"\2193";}

button{
    width:200px;
    display: inline-block;
}